export const hetznerAPI = {
    label: 'HetznerAPI',
    api: ''
}

export const vultrAPI = {
    label: 'VULTR',
    api_key: "TV6UJYRK............QECXBTJA"
}

export const ClientSercet= {
    email: "example@email.com",
    password: "password"
}

export const ResellerSecret= {
    email: "example@email.com",
    password: "password"
}

export const xCloudUserSecret= {
    email: "example@email.com",
    password: "password"
}



